
<div id="userbanner">
  <h1 class="userwelcome"><%= @trip.user.first_name %>'s Trip to <%= @trip.name %></h1>
  <%= react_component 'ShareItinerary', { itinerary: @itinerary } %>
  <%= react_component 'ShareResourceList', { resources: @resources } %>
</div>
