

<div id="weather">
  <p class="hidden"><%= @trip_object.city %></p>
</div>

<a href="mailto:?subject=Check out my trip details on Trip.ly!&amp;body=Check my trip itinerary and resources for <%= @trip_object.city %> at  http://trip-ly.herokuapp.com/trips/share?key=<%= @trip_object.key%>"
   title="Share by Email">
Share Trip Details
</a>



<%= react_component 'Trip', { trip: @trip, packing_lists: @packing_lists, resource_lists: @resource_lists, itinerary: @itinerary } %>
