<h1>Hello World</h1>
<%= link_to "Sign in ", new_user_session_path %><br>
<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
<%= link_to "Log out", logout_path, method: "delete" %>
