@import 'settings';
@import 'foundation';

.h6 {
  font-size: 14px;
  font-weight: bold;
  color: $dark-gray;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.resource-details {
  font-size: 12px;
}

/*sign in*/
.google-sign-in img {
  display: block;
  margin: 0 auto;
}

.signup-or-separator {
  height: 34px;
  position: relative;
  text-align:center;
}

.signup-or-separator hr {
  margin-top: -13px;
}

.signup-or-separator-text {
  background-color: $white;

  display: inline-block;
  padding: 3px;
}

.center-text {
  text-align: center;
}

.hollow.button {
  margin-right: 7px;
}

.actions.button {
  margin-left: 0px;
}
