@import 'settings';
@import 'foundation';

.h6 {
  font-size: 14px;
  font-weight: bold;
  color: $dark-gray;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.resource-details {
  font-size: 12px;
}

/*sign in*/
.google-sign-in img {
  display: block;
  margin: 0 auto;
}

.signup-or-separator {
  height: 34px;
  position: relative;
  text-align:center;
}

.signup-or-separator hr {
  margin-top: -13px;
}

.signup-or-separator-text {
  background-color: $white;

  display: inline-block;
  padding: 3px;
}

.center-text {
  text-align: center;
}

.hollow.button {
  margin-right: 7px;
}

.actions.button {
  margin-left: 0px;
}

textarea {
  bottom-padding: 15px;
}

// Itineraries
.content a {
  padding-right: 5px;
}

// List styling
.list-display {
    width: 80%;
    li {
      padding-bottom: 20px;
      }
  .name {
    font-size: 1.25em;
    border-bottom: 2px solid map-get($foundation-palette, primary);
    position: relative;
  }
  .list-circle {
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    background-color: $white;
    color: map-get($foundation-palette, primary);
    position: absolute;
    top: 45%;
    right: 0;
    border: 2px solid map-get($foundation-palette, primary);
  }
  .past {
    border-bottom: 2px solid $blue;
  }
  .past-circle{
    border: 2px solid $blue;
  }
  .past-icon {
    color: $blue;
  }
  .fa-plane {
    position: absolute;
    left: 6px;
    top: 8px;
  }
  .fa-suitcase {
    position: absolute;
    left: 6px;
    top: 8px;
    font-size: 1em;
  }
  .fa-info-circle {
    position: absolute;
    left: 7px;
    top: 8px;
    font-size: 1em;
  }
  .trip-date {
    font-size: .75em;
  }
}

.past a {
  color: $blue;
}

.container {
  padding-bottom: 30px;
  width: 100%;
  position: relative;
}

.share-button {
  // float:right;
  position: absolute;
  right: 0;
  height: 40px;
}

.fa-envelope {
  font-size: 3.5em;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.share-container {
  position: relative;
  z-index: 5;
}

.item-form {
  padding-top: 7px;
}

.edit-resource-form {
  padding-top: 7px;
}
