@import 'settings';
@import 'foundation';
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homepage-video-container{
  position:relative;
  max-width:1065px;
}

#homepage-video {
  width: 100%;
}


#homepage-video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 80px 20px;
  color: $white;
}



// .main-section {
//   background: #ccc;
//   padding: 20px;
// }



/* Navigation */
.top-bar, .menu li{
  background-color: $black;
}

.header-logo, .header-logo a {
  font-size: 1.5em;
  color: $white;
}

#widemenu {
  width:100%;
  z-index: 100;
}

.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  background-color: $black;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 180px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
