// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userbanner {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  background: url("/images/venice.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   margin-bottom: 15px;
}

.hiya {
  font-size: 50px;
}


.userwelcome {
  text-shadow: 2px 2px 3px #000;
  color: #fff;
  padding: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  left: 39%;
  font-weight: 300;
}

#weather {
  width: 100%;
  min-height: 350px;
  margin: 0px auto 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: url("/images/airplane-clouds.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
}

#weather h2 {
  margin: 0 0 0px;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  padding: 0px;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
}

.heading ul {
  margin: 0;
  padding: 0;
}

.heading li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

#weather .test {
  list-style-type: none;
  color: #fff;
  padding-top: 5px;
  display: inline-block;
  width: 40px;

}

#weather .bold {
    font-weight: bold;

}


#weather .currently {
  margin: 0 20px;
}
