// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';
@import 'foundation';

.trips-list ul {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  padding-bottom: 10;
}

.trips-list h5, .list-header {
  font-size: 1.5em;
  font-weight: bold;
}

.user-options {
  display: inline-block;
}

.user-options button {
  padding-left: 3px;
}
