<footer>
  <div class="row full-width">
    <div class="small-12 medium-6 large-6 columns">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      <h6>Final Project for Dev Bootcamp</h6>
      <p>A Trip Planner rendered using React on Rails and styled with Foundation.</p>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <h6>Team Members</h6>
        <ul class="footer-links">
          <li><a href="http://www.github.com/angel-chen">Angel Chen</a></li>
          <li><a href="http://www.github.com/jennysoup">Jenn Su</a></li>
          <li><a href="http://www.github.com/kimberlysuazo">Kimberly Suazo</a></li>
          <li><a href="http://www.github.com/jwong411">Jason Wong</a></li>
        </ul>
    </div>
</div>
</footer>
