<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-6 large-6 columns">
      <i class="fi-laptop"></i>
      <p>Final Project for Dev Bootcamp</p>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <h6>Team Members</h6>
        <ul class="footer-links">
          <li><a href="">Person 1</a></li>
          <li><a href="">Person 2</a></li>
          <li><a href="">Person 3</a></li>
          <li><a href="">Person 4</a></li>
        </ul>
    </div>
</div>
</footer>
