<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value if value.length > 0 %>
      </li>
    </ul>
  </div>
<% end %>
